@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    position: relative;
}

.heading{
    text-align: center;
    background-color: #DDC6B6;
    color: #000;
    padding: 20px;
}

.play-control{
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

button {
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
}

.snake{
    background-color: #DDC6B6;
    color: #000;
    font-weight: bold;
}

.water{
    background-color: #DDC6B6;
    color: #000;
    font-weight: bold;
}

.gun{
    background-color: #DDC6B6;
    color: #000;
    font-weight: bold;
}

#score{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #DDC6B6;
    font-size: 25px;
    justify-content: flex-end;
    margin-right: 20px;
}

#result{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #DDC6B6;
}

#computer,#user{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.final-card{
    position: absolute;
    top: 65%;
    left: 28%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.final-card::before{
    content: "";
    display: block;
    height: 60px;
    background-color: #000;
}